@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  width: 100%;
  font-family: "Alata";
}

header {
  width: 100%;
  /* background-color: red; */
  background-image: url("/images/desktop//image-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#box_txt {
  width: 45%;

  color: white;
  border: 2px solid white;

  padding-top: 30px;
  padding-left: 30px;
  margin-top: 30vh;
  margin-left: 25vh;
}

#box_txt h1 {
  font-size: 5vw;
  font-weight: 300;
  line-height: 64px;

  font-family: "Josefin Sans";
}

#sec_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}
#left_img,
#right_text {
  flex: 1;
  margin: 10px;
}
#left_img img {
  width: 740px;
  height: 480px;
  display: block;
  margin-top: 40px;
}
#right_text {
  position: absolute;
  width: 40%;
  height: 45%;
  padding: 80px 80px;
  top: 143vh;
  left: 106vh;
  background-color: white;
}

#right_text p{
  color: var(--dark-gray);
  padding-top: 25px;
}
#thrd_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25vh;
}


#thrd_page #top_part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 11%;
  /* margin-top: 10%; */
 
}
#top_part h1{
  font-family:"Josefin Sans" ;
  font-weight: 300;
  font-size: 5.5vh;

}
#top_part button{
  padding: 4px 30px;
  padding-top: 8px;
  margin-right: 7.5%;
  font-family:"Josefin Sans" ;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: white;
}






#imgs_grid {
  padding: 0 11%;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  
  margin-left: 10px;
  margin-top: 30px;
  width: 85%;
  grid-gap: 20px;
  column-gap: 5vw;
  border-radius: 0;
  font-family: "Josefin Sans";
}
.card{
  width: 100%;
  margin-right: 50px;
}
.card .card-img{
  width: 36vh;
  height: 52vh;
  border-radius: 0;
}
.card-img-overlay {
  display: flex;
  align-items: flex-end;
  padding: 0;
  border-radius: 0;
  border: none;
  width: 36vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.655), transparent);
}
.card-title {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#imgs_grid h5{
  font-weight: 300;
}

#footer_sec{
  width: 100%;
  /* height: 20vh; */
  background-color: black;
  color: white;
}

#footer_sec #first{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

}
#first #left{
  padding: 10px 10px;
  margin-left: 20vh;
  padding-top: 20px;
}
#first #left h2{
  font-family: 'Josefin Sans';
  padding-top: 0px;
  font-size: 1.5vw;

}
#first #icons{
  margin-right: 35vh;
  padding-top: 20px;

}

#footer_sec #second{
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}
#footer_sec #second .menu_part{
  margin-left: 24vh;
  

}

#second .menu_part ul a{
  text-decoration: none;
  color: white;
  padding-right: 30px;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Josefin Sans';
}

#second #copyright_part footer{
  margin-right: 37vh;
  font-size: 1vw;
  font-family: 'Josefin Sans';
  color: var(--very-dark-gray);

}